<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="CEP" labelPlacement="floating" placeholder="Entre com seu CEP" [(ngModel)]="cep"></ion-input>
  </ion-item>
  <ion-button color="success" expand="block">Consultar CEP</ion-button>
  <ion-item>
    <ion-textarea
      placeholder=""
      [autoGrow]="true"
      [readonly]="true"
      value="CEP: {{cep}}
            Logradouro: {{logradouro}}
            Complemento: {{complemento}}
            Bairro: {{bairro}}
            Localidade: {{localidade}}
            UF: {{uf}}
            IBGE: {{ibge}}
            GIA: {{gia}}
            DDD: {{ddd}}
            Siafi: {{siafi}}"
    >
    </ion-textarea>
  </ion-item>
</ion-content>
